@use 'variables' as vars;

.nav-item {
  margin: 0 10px;
}

.custom-link {
  font-size: 19px;
  font-weight: 500;
  color: vars.$color-gray-medium;
  padding: 5px 0;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;

  &:hover {
    color: vars.$color-black;
  }

  &.active {
    color: vars.$color-black;
    border-bottom: vars.$border-neo-thick;
  }
}

.navbar {

  padding-bottom: 30px;
  padding-top: 25px;

  &__brand {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1px;
    color: vars.$color-black;
  }


  &__btn {
    width: 100%;
    padding: 10px 20px;
    background-color: vars.$color-black;
    color: vars.$color-lime;
    border-radius: 0;
    font-weight: 500;
    font-size: 20px;
    transition: vars.$transition-default;
    border: none;

    &:hover {
      transform: translate(-3px, -3px);
      box-shadow: vars.$shadow-neo-lime-md;
    }

    &:active {
      transform: translate(0, 0);
      box-shadow: none;
      color: vars.$color-lime;
    }

  }
}