$color-primary-dark:   #0F120D;    
$color-accent-lime:    #9ACD3A;    
$color-light-gray:     #F8F9FA;

.home {

    height: 75vh;
    color: $color-primary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: fit-content;
        background: white;
        border: 3px solid $color-primary-dark;
        position: relative;
        padding: 10px 20px;

        &::after {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            width: 100%;
            height: 100%;
            background-color: $color-accent-lime;
            border: 3px solid $color-primary-dark;
            z-index: -1;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
    }

    &__value {
        font-size: 30px;
        font-weight: 600;
    }

    &__chart {
        width: 60%;
    }
}