@use 'variables' as vars;

.home {

    height: 75vh;
    color: vars.$color-black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: vars.$color-white;
        border: vars.$border-neo-thick;
        position: relative;
        padding: 10px 20px;

        &::after {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            width: 100%;
            height: 100%;
            background-color: vars.$color-lime;
            border: vars.$border-neo-thick;
            z-index: -1;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
    }

    &__value {
        font-size: 30px;
        font-weight: 600;
    }

    &__chart {
        width: 60%;
    }
}