$color-black: #0F120D;
$color-white: #FFFFFF;
$color-lime: #9ACD3A;
$color-lime-light: #c4f135;
$color-gray-light: #F8F9FA;
$color-gray-medium: #666666;
$color-danger: #FF4D4D;
$border-neo-thick: 3px solid $color-black;
$border-neo-thin: 2px solid $color-black;
$shadow-neo-lg: 10px 10px 0px 0px $color-black;
$shadow-neo-md: 6px 6px 0px 0px $color-black;
$shadow-neo-sm: 4px 4px 0px 0px $color-black;
$shadow-neo-tiny: 2px 2px 0px $color-black;
$shadow-neo-lime-md: 6px 6px 0px 0px $color-lime;
$shadow-neo-lime-sm: 4px 4px 0px 0px $color-lime;
$transition-default: all 0.2s ease;
$transition-bounce: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);