@use 'variables' as vars;

.login {
  height: 95vh;
  gap: 100px;

  &__title {
    font-size: 47px;
    font-weight: 700;
    color: vars.$color-black;
  }

  .name-one {
    color: vars.$color-lime;
  }

  &__subtitle {
    font-size: 17px;
    font-weight: 500;
    margin-left: 8px;
    color: lighten(vars.$color-black, 20%);
  }

  &__card {
    position: relative;
    width: 380px;
    padding: 41px;
    margin-top: 30px;
    background: vars.$color-white;
    border: vars.$border-neo-thick;

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100%;
      height: 100%;
      background-color: vars.$color-lime;
      border: vars.$border-neo-thick;
      z-index: -1;
    }

    .login__title {
      font-size: 37px;
      margin-bottom: 32px;
      text-align: center;
    }
  }

  &__field {
    label {
      font-weight: 700;
      margin-bottom: 8px;
      color: vars.$color-black;
    }

    .form-control {
      padding: 12px;
      background-color: vars.$color-gray-light;
      border: vars.$border-neo-thin !important;
      border-radius: 0;

      &:focus {
        background-color: vars.$color-white;
        box-shadow: vars.$shadow-neo-lime-sm !important;
        transform: translate(-2px, -2px);
        outline: none;
      }
    }

    .form-text {
      color: vars.$color-danger;
      font-weight: 600;
      font-size: 14px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &__btn {
    width: 100%;
    padding: 16px;
    background-color: vars.$color-lime;
    color: vars.$color-black;
    border: vars.$border-neo-thick;
    border-radius: 0;
    font-weight: 900;
    font-size: 20px;
    margin-top: 16px;
    transition: vars.$transition-default;

    &:hover {
      background-color: darken(vars.$color-lime, 5%);
      transform: translate(-3px, -3px);
      box-shadow: vars.$shadow-neo-md;
    }

    &:active {
      transform: translate(0, 0);
      box-shadow: none;
    }

    &:disabled {
      background-color: lighten(vars.$color-lime, 20%);
      border-color: lighten(vars.$color-black, 20%);
      color: lighten(vars.$color-black, 20%);
      cursor: not-allowed;
      transform: none;
      box-shadow: none;
    }
  }
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .eye-btn {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    font-size: 22px;
    color: vars.$color-black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease;

    &:active {
      transform: scale(0.9);
    }
  }
}