$color-primary-dark:   #0F120D;    
$color-accent-lime:    #9ACD3A;    
$color-light-gray:     #F8F9FA;

.login {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  &__title {
    font-size: 47px;
    font-weight: 700;
    color: $color-primary-dark;
  }

  &__subtitle {
    font-size: 17px;
    color: lighten($color-primary-dark, 20%);
    font-weight: 500;
    margin-left: 8px;
  }

  &__card {
    width: 380px;
    background: white;
    padding: 41px;
    border: 3px solid $color-primary-dark;
    position: relative;
    margin-top: 30px;

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100%;
      height: 100%;
      background-color: $color-accent-lime;
      border: 3px solid $color-primary-dark;
      z-index: -1;
    }

    .login__title {
      font-size: 37px;
      text-align: center;
      margin-bottom: 32px;
    }
  }

  &__field {
    label {
      font-weight: 700;
      color: $color-primary-dark;
      margin-bottom: 8px;
    }

    .form-control {
      background-color: $color-light-gray;
      border: 2px solid $color-primary-dark !important;
      border-radius: 0; 
      padding: 0.75rem;

      &:focus {
        background-color: #fff;
        box-shadow: 4px 4px 0px 0px $color-accent-lime !important;
        transform: translate(-2px, -2px);
        outline: none;
      }
    }
    
    .form-text {
      font-weight: 600;
      font-size: 14px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &__btn {
    width: 100%;
    padding: 16px;
    background-color: $color-accent-lime;
    color: $color-primary-dark;
    border: 3px solid $color-primary-dark;
    border-radius: 0;
    font-weight: 900;
    font-size: 20px;
    margin-top: 16px;
    transition: all 0.2s ease;

    &:hover {
      background-color: darken($color-accent-lime, 5%);
      transform: translate(-3px, -3px);
      box-shadow: 6px 6px 0px 0px $color-primary-dark;
    }

    &:active {
      transform: translate(0, 0);
      box-shadow: none;
    }

    &:disabled {
      background-color: lighten($color-accent-lime, 20%);
      border-color: lighten($color-primary-dark, 20%);
      color: lighten($color-primary-dark, 20%);
      cursor: not-allowed;
      transform: none;
      box-shadow: none;
    }
  }
}