<div class="login d-flex justify-content-center align-items-center">
    <main class="login__hero">
        <div class="login__title"><span class="welcome-msg">Welcome to </span> <span class="name-one">Edu</span>Track</div>
        <div class="login__subtitle">Manage students, Simplify administration.</div>
    </main>

    <aside class="login__card">
        <h2 class="login__title">Login</h2>

        <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="login__field mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <div *ngIf="usernameError" id="usernameHelp" class="form-text">
                    <i class='bx bxs-error-circle'></i> <span>{{ usernameError }}</span>
                </div>
            </div>

            <div class="login__field mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" formControlName="password">
                    <button type="button" class="eye-btn" (click)="togglePassword()" tabindex="-1">
                        <i class='bx' [ngClass]="showPassword ? 'bx-hide' : 'bx-show'"></i>
                    </button>
                </div>
                <div *ngIf="passwordError" id="passwordHelp" class="form-text">
                    <i class='bx bxs-error-circle'></i> <span>{{ passwordError }}</span>
                </div>
            </div>

            <button type="submit" class="login__btn">LOGIN</button>
        </form>
    </aside>
</div>