@use 'variables' as vars;

.student-list-page {
    background-color: vars.$color-white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 5px;
    color: vars.$color-black;
    text-transform: uppercase;
}

.grid-container {
  margin-top: 1rem;
  background: white;
  position: relative; 
  z-index: 1;
  border: vars.$border-neo-thick;

  &::after {
    content: '';
    position: absolute;
    top: 10px;    
    left: 10px;   
    width: 100%;
    height: 100%;
    background-color: vars.$color-lime;
    border: vars.$border-neo-thick;
    z-index: -1;
  }
}


::ng-deep .ag-theme-alpine {
    --ag-font-family: 'Poppins', sans-serif;
    --ag-font-size: 14px;

    .ag-header-cell-label {
        font-weight: 800;
        text-transform: uppercase;
    }

    .ag-cell {
        display: flex;
        align-items: center;
    }
}


::ng-deep .btn-action {
    border: vars.$border-neo-thin;
    background: vars.$color-white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: vars.$transition-bounce;
    font-size: 18px;
    position: relative;


    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: vars.$shadow-neo-sm;
    }

    &:active {
        transform: translate(0, 0);
        box-shadow: none;
    }
}

::ng-deep .btn-view {
    color: vars.$color-black;
    background-color: vars.$color-lime;
}

::ng-deep .btn-delete {
    background-color: vars.$color-black;
    color: vars.$color-lime;
    
    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: vars.$shadow-neo-lime-sm;
    }
}


.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-modal {
    background: vars.$color-white;
    border: vars.$border-neo-thick;
    padding: 30px;
    position: relative;
    width: 500px;
    z-index: 1001;
    box-shadow: vars.$shadow-neo-lg;
}

.modal-header-neo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    h3 {
        font-size: 24px;
        font-weight: 800;
    }
}

.close-btn-neo {
    background: vars.$color-lime;
    border: vars.$border-neo-thin;
    width: 35px;
    height: 35px;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: vars.$transition-default;

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: vars.$shadow-neo-sm;
    }

    &:active {
        transform: translate(0, 0);
        box-shadow: none;
    }
}

.info-group {
    margin-bottom: 12px;
    display: flex;
    gap: 10px;
    font-size: 16px;

    .label {
        font-weight: 700;
        min-width: 130px;
    }

    .value {
        font-weight: 500;
    }

    .value.highlight {
        color: vars.$color-lime;
    }
}

.btn-neo-delete {
    background: vars.$color-black;
    color: vars.$color-lime;
    border: vars.$border-neo-thin;
    padding: 10px 30px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: vars.$transition-default;
    box-shadow: vars.$shadow-neo-sm;

    &:hover {
        background: #333;
        transform: translate(-2px, -2px);
        box-shadow: vars.$shadow-neo-md;
    }

    &:active {
        transform: translate(0, 0);
        box-shadow: none;
    }
}

.btn-neo-secondary {
    background: vars.$color-white;
    color: vars.$color-black;
    border: vars.$border-neo-thin;
    padding: 10px 30px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: vars.$transition-default;
    box-shadow: vars.$shadow-neo-sm;

    &:hover {
        background: vars.$color-gray-light;
        transform: translate(-2px, -2px);
        box-shadow: vars.$shadow-neo-md;
    }

    &:active {
        transform: translate(0, 0);
        box-shadow: none;
    }
}

.delete-modal {
    box-shadow: vars.$shadow-neo-lg;
}

.ag-theme-alpine {
  --ag-row-hover-color: vars.$color-lime;
}
