@use 'variables' as vars;
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  user-select: none;
}


.form-control {
  color: vars.$color-black;
  background-color: vars.$color-gray-light;
  border: vars.$border-neo-thin !important;
  border-radius: 0;
  transition: vars.$transition-default;

  &:focus {
    background-color: vars.$color-white;
    transform: translate(-2px, -2px);
    box-shadow: vars.$shadow-neo-lime-sm !important;
    border-color: vars.$color-black !important;
    outline: 0 !important;
  }
}