* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body { 
  height: 100%; 
  user-select: none;
}
body { 
  font-family: "Poppins", sans-serif; 
}

.form-control {
    color: #0F120D;
    background-color: #F8F9FA;
    border: 2px solid #0F120D !important;
    border-radius: 0; 
    transition: all 0.2s ease;

    &:focus {
        background-color: #fff;
        transform: translate(-2px, -2px); 
        box-shadow: 4px 4px 0px 0px #a3cf3c !important; 
        border-color: #0F120D !important;
        outline: 0 !important;
    }
}